 @model CompanyDashboardViewModel;
 @inject StringLocalizerManager localizer;
<!-- ========== Dashboard Area end============= -->
<div class="dashboard-area company-dashboard pt-120 mb-120">
    <div class="container">
        <div class="row g-lg-4">
            <div class="col-lg-12 mb-20">
                <partial name="_SidebarPartial"></partial>
            </div>
            <div class="col-lg-12">
                <div class="dashboard-inner">
                    <div class="author-and-action-btn-area two mb-40">
                        <div class="author-area two">
                            <div class="author-img">
                                <img src="@Model.LogoUrl" alt="">
                            </div>
                            <div class="author-content">
                                <span>@localizer.GetValue("hello") ,</span>
                                <h4>@Model.Name</h4>
                                <br/>
                                @if(!Model.IsAccountActive)
                                {
                                <p>Your profile is not active</p>
                                <p>To activate your profile, fill the information about your company.</p>
                                }
                            </div>
                        </div>

                        <div class="action-btn-group">
                            <ul>
                                @foreach(var language in Model.Languages)
                                {
                                    <li><a href="company-profile.html"><span><img src="@language.IconUrl" alt=""></span><span><img src="~/images/icon/edit2.svg" alt=""></span>@localizer.GetValue("editProfile")</a></li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="counter-area">
                        <div class="row g-4 justify-content-center mb-30">
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-single">
                                    <div class="counter-icon">
                                        <img src="~/images/icon/tt-applied.svg" alt="image">
                                    </div>
                                    <div class="coundown">
                                        <p>Total Applied</p>
                                        <div class="d-flex align-items-center">
                                            <h3 class="odometer">
                                                30
                                            </h3>
                                            <span>+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-single two">
                                    <div class="counter-icon">
                                        <img src="~/images/icon/save-job.svg" alt="image">
                                    </div>
                                    <div class="coundown">
                                        <p>Live Jobs</p>
                                        <div class="d-flex align-items-center">
                                            <h3 class="odometer">
                                                80
                                            </h3>
                                            <span>+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-single three">
                                    <div class="counter-icon">
                                        <img src="~/images/icon/pending-icon.svg" alt="image">
                                    </div>
                                    <div class="coundown">
                                        <p>Pending Job</p>
                                        <div class="d-flex align-items-center">
                                            <h3 class="odometer">
                                                120
                                            </h3>
                                            <span>+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-single four">
                                    <div class="counter-icon">
                                        <img src="~/images/icon/closed-icon.svg" alt="image">
                                    </div>
                                    <div class="coundown">
                                        <p>Closed Jobs</p>
                                        <div class="d-flex align-items-center">
                                            <h3 class="odometer">
                                                900
                                            </h3>
                                            <span>+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-4 justify-content-cente">
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-single">
                                    <div class="counter-icon">
                                        <img src="~/images/icon/total-view-icon.svg" alt="image">
                                    </div>
                                    <div class="coundown">
                                        <p>Total View</p>
                                        <div class="d-flex align-items-center">
                                            <h3 class="odometer">
                                                2500
                                            </h3>
                                            <span>+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-single two">
                                    <div class="counter-icon">
                                        <img src="~/images/icon/follow-icon.svg" alt="image">
                                    </div>
                                    <div class="coundown">
                                        <p>Our Followers</p>
                                        <div class="d-flex align-items-center">
                                            <h3 class="odometer">
                                                250
                                            </h3>
                                            <span>+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-single three">
                                    <div class="counter-icon">
                                        <img src="~/images/icon/highlight-icon.svg" alt="image">
                                    </div>
                                    <div class="coundown">
                                        <p>Highlighted Jobs</p>
                                        <div class="d-flex align-items-center">
                                            <h3 class="odometer">
                                                150
                                            </h3>
                                            <span>+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-single five">
                                    <div class="counter-icon">
                                        <img src="~/images/icon/featured-icon.svg" alt="image">
                                    </div>
                                    <div class="coundown">
                                        <p>Our Followers</p>
                                        <div class="d-flex align-items-center">
                                            <h3 class="odometer">
                                                500
                                            </h3>
                                            <span>+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="new-applied-job-area">
                        <h5>New Applied List:</h5>
                        <div class="table-wrapper2">
                            <table class="eg-table table category-table mb-0">
                                <tbody>
                                    <tr>
                                        <td data-label="Candidate Name">
                                            <div class="employee-info">
                                                <div class="employee-img">
                                                    <img src="~/images/bg/employee-img1.png" alt="">
                                                </div>
                                                <div class="employee-content">
                                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Mr. Willium Jacson</button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <div class="button-groups">
                                                                        <ul>
                                                                            <li>
                                                                                <button class="primary-bg"><img src="~/images/icon/pdf2.svg" alt=""> Download PDF</button>
                                                                                <button><img src="~/images/icon/shortlist2.svg" alt=""> Shortlist</button>
                                                                                <button class="red-bg"><img src="~/images/icon/reject2.svg" alt=""> reject</button>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row justify-content-center">
                                                                        <div class="col-lg-12">
                                                                            <div class="resume-area">
                                                                                <div class="row g-4 mb-40">
                                                                                    <div class="col-lg-6">
                                                                                        <div class="author-area">
                                                                                            <div class="author-img">
                                                                                                <img src="~/images/bg/resume-author.png" alt="">
                                                                                            </div>
                                                                                            <div class="name-degination">
                                                                                                <h4>Mr. Jacoline Frankly</h4>
                                                                                                <span>UI/UX Engineer</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-6">
                                                                                        <div class="contact-area">
                                                                                            <h4>Contact Info</h4>
                                                                                            <ul>
                                                                                                <li>Phone:<a href="#">+880-177 443 5455 <span><img src="~/images/icon/phone-5.svg" alt=""></span></a></li>
                                                                                                <li>Email:<a href="#"><span class="__cf_email__" data-cfemail="f29b9c949db2978a939f829e97dc919d9f">[email&#160;protected]</span> <span><img src="~/images/icon/envlop-5.svg" alt=""></span></a></li>
                                                                                                <li>Website:<a href="#">www.infositeexample.com <span><img src="~/images/icon/web-5.svg" alt=""></span></a></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <div class="single-information-area">
                                                                                        <div class="section-title">
                                                                                            <h6>Career Objective</h6>
                                                                                            <div class="dash"></div>
                                                                                        </div>
                                                                                        <div class="description">
                                                                                            <p>I'm a passionate UI/UX designer and can bring innovative ideas & concepts to life for client-based design projects. I have more than 3 years of design experience in digital/e-commerce. I experienced at tackle various needs from landing page designs, web app interfaces. I have skills in User Experience Design (UXD), user-centered Design, Interaction and Visual Design for websites, applications, web, and mobile products, wireframes, mock-ups, qualitative and quantitative user studies, usability analysis, and informal usability audits.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <div class="single-information-area">
                                                                                        <div class="section-title">
                                                                                            <h6>Personal Information</h6>
                                                                                            <div class="dash"></div>
                                                                                        </div>
                                                                                        <div class="row g-4">
                                                                                            <div class="col-lg-6 devaider1 position-relative">
                                                                                                <div class="informations">
                                                                                                    <ul>
                                                                                                        <li><span>Father’s Name:</span>  Mr. Norman Frankly</li>
                                                                                                        <li><span>Date of Birth:</span>  03 January,1998</li>
                                                                                                        <li><span>Nationality:</span>  Bangladeshi</li>
                                                                                                        <li><span>Marital Status:</span>  Unmarried</li>
                                                                                                        <li><span>Height:</span>  5’ 5’’</li>
                                                                                                        <li><span>Blood Group:</span>  O ve+</li>
                                                                                                        <li><span>Permanent Address:</span>  Village: Mirpur-12 Block-C, Thana: Pallavi, District: Dhaka, Division: Dhaka</li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-lg-6 pl-40">
                                                                                                <div class="informations d-flex justify-content-end">
                                                                                                    <ul>
                                                                                                        <li><span>Mother’s Name:</span>  Mrs. Macoline Frankly</li>
                                                                                                        <li><span>National ID:</span>  88 9919 6712 8762</li>
                                                                                                        <li><span>Religion:</span>  Islam</li>
                                                                                                        <li><span>Gender:</span>  Male</li>
                                                                                                        <li><span>Weight:</span>  75 KG</li>
                                                                                                        <li><span>Height:</span>  5’ 5’’</li>
                                                                                                        <li><span>Present Address:</span>  Village: Mirpur DOSH, Block-C, Avenue-02, Thana: Pallavi, District: Dhaka, Division: Dhaka.</li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <div class="single-information-area">
                                                                                        <div class="section-title">
                                                                                            <h6>Educational Qualification</h6>
                                                                                            <div class="dash"></div>
                                                                                        </div>

                                                                                        <div class="educational-qualification mb-30">
                                                                                            <div class="passing-year">
                                                                                                <p><span>01.</span>April, 2016- May, 2020</p>
                                                                                                <span></span>
                                                                                            </div>
                                                                                            <div class="education-dt">
                                                                                                <h6>Royals Republic Science & Technology University</h6>
                                                                                                <ul>
                                                                                                    <li><span>Education Level:</span> Graduation</li>
                                                                                                    <li><span>My Major:</span> Bachelor Degree In CSE</li>
                                                                                                    <li><span>Result/GPA:</span> 3.75/4.00</li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="educational-qualification">
                                                                                            <div class="passing-year">
                                                                                                <p><span>02.</span>June, 2014- April, 2016</p>
                                                                                                <span></span>
                                                                                            </div>
                                                                                            <div class="education-dt">
                                                                                                <h6>International Collegiate School & College</h6>
                                                                                                <ul>
                                                                                                    <li><span>Education Level:</span> HSC</li>
                                                                                                    <li><span>My Major:</span> Science</li>
                                                                                                    <li><span>Result/GPA:</span> 4.96/5.00</li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <div class="single-information-area">
                                                                                        <div class="section-title">
                                                                                            <h6>Career Application</h6>
                                                                                            <div class="dash"></div>
                                                                                        </div>
                                                                                        <div class="row g-4 ">
                                                                                            <div class="col-lg-6 devaider1 position-relative">
                                                                                                <div class="informations">
                                                                                                    <ul>
                                                                                                        <li><span>Current Job Place:</span>  Norland Tech of Industry</li>
                                                                                                        <li><span>Position:</span>  UI/UX Engineer</li>
                                                                                                        <li><span>Experiences:</span>  3 Years</li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-lg-6 pl-40">
                                                                                                <div class="informations">
                                                                                                    <ul>
                                                                                                        <li><span>Current Salary:</span>  30000/=</li>
                                                                                                        <li><span>Expected Salary:</span>  40000/=</li>
                                                                                                        <li><span>Available:</span>  Full Time</li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <div class="single-information-area">
                                                                                        <div class="section-title">
                                                                                            <h6>Professionals Information</h6>
                                                                                            <div class="dash"></div>
                                                                                        </div>

                                                                                        <div class="educational-qualification mb-30">
                                                                                            <div class="passing-year">
                                                                                                <p><span>01.</span>April, 2021- May, 2022</p>
                                                                                                <span></span>
                                                                                            </div>
                                                                                            <div class="education-dt">
                                                                                                <h6>Bistro.Tech Group of Industry</h6>
                                                                                                <p class="position"><span>Position:</span> UI/UX Engineer ( Full-Time)</p>
                                                                                                <div class="responsibility">
                                                                                                    <h6>Responsibility:</h6>
                                                                                                    <ul>
                                                                                                        <li>Creating high quality landing pages optimized for client website brands.</li>
                                                                                                        <li>Creating e-commerce interfaces, design enhancements, and overall improved user experience of existing sites</li>
                                                                                                    </ul>
                                                                                                </div>

                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="educational-qualification">
                                                                                            <div class="passing-year">
                                                                                                <p><span>02.</span>April, 2022- Continuing</p>
                                                                                                <span></span>
                                                                                            </div>
                                                                                            <div class="education-dt">
                                                                                                <h6>Norland Tech of Industry</h6>
                                                                                                <p class="position"><span>Position:</span> UI/UX Engineer ( Full-Time)</p>
                                                                                                <div class="responsibility">
                                                                                                    <h6>Responsibility:</h6>
                                                                                                    <ul>
                                                                                                        <li>Creating high quality landing pages optimized for client website brands.</li>
                                                                                                        <li>Creating e-commerce interfaces, design enhancements, and overall improved user experience of existing sites</li>
                                                                                                    </ul>
                                                                                                </div>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <div class="single-information-area">
                                                                                        <div class="section-title">
                                                                                            <h6>Special Skills</h6>
                                                                                            <div class="dash"></div>
                                                                                        </div>
                                                                                        <div class="tag-area">
                                                                                            <ul>
                                                                                                <li>Web Development,</li>
                                                                                                <li>UI/UX Designer,</li>
                                                                                                <li>React Development.</li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <div class="single-information-area">
                                                                                        <div class="section-title">
                                                                                            <h6>Social Network</h6>
                                                                                            <div class="dash"></div>
                                                                                        </div>
                                                                                        <div class="social-area">
                                                                                            <ul>
                                                                                                <li><a href="https://www.facebook.com/">Facebook</a></li>
                                                                                                <li><a href="https://twitter.com/">Twitter</a></li>
                                                                                                <li><a href="https://www.linkedin.com/">Linkedin</a></li>
                                                                                                <li><a href="https://www.pinterest.com/">Pinterest</a></li>
                                                                                                <li><a href="https://dribbble.com/">Dribbble</a></li>
                                                                                                <li><a href="https://www.behance.net/">Behance</a></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <div class="declaration-area">
                                                                                        <h6>Declaration & Authentication-</h6>
                                                                                        <p>I do hereby declare that the information given above is true of my knowledge.</p>
                                                                                    </div>
                                                                                    <div class="gratitude-area">
                                                                                        <span>Yours Faithful,</span>
                                                                                        <h6>Jacoline Frankly</h6>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <div class="button-groups">
                                                                        <ul>
                                                                            <li>
                                                                                <button class="primary-bg"><img src="~/images/icon/pdf2.svg" alt=""> Download PDF</button>
                                                                                <button><img src="~/images/icon/shortlist2.svg" alt=""> Shortlist</button>
                                                                                <button class="red-bg"><img src="~/images/icon/reject2.svg" alt=""> reject</button>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <span><img src="~/images/icon/company-2.svg" alt="">Internation Colliegate University</span>
                                                    <p><span>Applied On:</span> 02 April, 2023</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td data-label="Carrer Summary">
                                            <div class="carrer-summary">
                                                <h6>Colliegate Ltd <span>(Teaching Assistant)</span></h6>
                                                <ul>
                                                    <li><span>Experience:</span> 2+ Years</li>
                                                    <li><span>Salary:</span> $800/ Per Month</li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td data-label="Actions">
                                            <div class="action-btn-group">
                                                <ul>
                                                    <li><button><img src="~/images/icon/shortlist-icon.svg" alt=""> Shortlist</button></li>
                                                    <li><button class="reject"><img src="~/images/icon/rejected-icon.svg" alt=""> Rejected</button></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- ========== Dashboard Area end============= -->